*{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin: 0;
}
select{
    padding: 5px;
    background-color: white;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.workloads{
    border: 1px solid gray;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    word-wrap: break-word;
    border-radius: 12px;
}
.labels{
    background-color: #4b00823d;
    border-radius: 2px;
    padding: 5px;
}
#header{
    padding: 10px;
    font-size: 20px !important;
    margin-bottom: 20px;
}
.mainboxes{
    width: 33%;
    float: left;
    height: 1000px;
    box-sizing: border-box;
    text-align: center;
}
.manifestbox{
    width: 33%;
    float: left;
    height: 500px;
    box-sizing: border-box;
}

#footer{
    clear: both;
}
.wldrop{
    width: 70% !important;
    margin: auto;
    margin-top: 10px;
    display: none;
}
.wsel{
    width: 100% !important;
}
#header a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
#header img{
    width: 250px;
}
#middle{
    background-color: #989a991f
}
#middle svg{
    background-color: white;
}
